<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>获取课程——ejs模板</title>
  <link rel="stylesheet" href="/index.css">
</head>
<body>
  <div id="container">
    <% if (data) { %>
      <table cellspacing="0" class="total">
        <% data.forEach(function (row) { %>
          <tr>
            <td rowspan="<%= row.ateachers.length + 1 %>"><%= row.cname %></td>
            <td><%= row.tname %></td>
            <td style="padding: 0;">
              <table cellspacing="0" class="part">
                <tr>
                  <td>
                    <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= row.sid %></a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= row.sid %></a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= row.sid %></a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= row.sid %></a>
                  </td>
                </tr>
              </table>
            </tr>
          </tr>
          <% row.ateachers.forEach(function (item) { %>
            <tr>
              <td><%= item.aname %></td>
              <td style="padding: 0;">
                <table cellspacing="0" class="part">
                  <tr>
                    <td>
                      <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= item.aid %></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= item.aid %></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= item.aid %></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a href="http://www.weclassroom.com/class/<%= row.tid %>">http://www.weclassroom.com/class/<%= item.aid %></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          <% })%>
        <% }) %>
      </table>
    <% } %>
  </div>
</body>
<!--<script>-->
  <!--function jsonp(res) {-->
      <!--console.log(res);-->
  <!--}-->
<!--</script>-->
<!--<script src="http://127.0.0.1:4000/jsonp?callback=jsonp"></script>-->
<!--<script>-->
  <!--var url = 'http://127.0.0.1:4000/jsonp';-->
  <!--var xhr = new XMLHttpRequest();-->
  <!--xhr.open('get', url + '?callback=kuayu');-->
  <!--xhr.onreadystatechange = function () {-->
    <!--if (xhr.readyState === 4) {-->
        <!--if (xhr.status === 200) {-->
            <!--console.log(xhr.responseText);-->
        <!--}-->
    <!--}-->
  <!--}-->
  <!--xhr.send(null);-->
<!--</script>-->
</html>
<!--<script>-->
  <!--document.write('test');-->
<!--</script>-->